<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/header.ejs') %>
    <main>
        <form action="/create-post" method="POST">

            <% errors.forEach(error => { %>
                <div class="notice"><%= error %></div>
            <% }) %>

            <fieldset>
                <legend>Create post</legend>
                <label for="title"><small>Title</small></label>
                <input type="text" name="title" id="title" autocomplete="off">

                <label for="content"><small>Content</small></label>
                <textarea name="content" id="content"></textarea>

                <br>

                <button>Save</button>
            </fieldset>
        </form>
    </main>

    <%- include('./includes/footer.ejs') %>
</body>
</html>
