<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/header.ejs') %>

    <main>
        <h2>Welcome to the dashboard!</h2>
    </main>

    <%- include('./includes/footer.ejs') %>
</body>
</html>
